body {
	background-color: white;
}


.header > img {
	width: 240px;
	height: 100px;
	padding-right: 125px;
	padding-left: 20px;
	padding-top: 20px;
}


.header {
	display: flex;
	flex-wrap: wrap;
	flex-flow: wrap;
	background-color: #FFEEDB;
}


.header > div {
	background-color: #FFEEDB;
	padding-top: 20px; 
	margin-right: 20px;
}


.steps {
	display: flex;
	flex-wrap: wrap;
	flex-flow: wrap;
	background-color: #6CC9F1;
	width: 1440px;
}

.steps > div {
	display: flex;
	flex-wrap: wrap;
	flex-flow: wrap;
	background-color: #6CC9F1;
	font-size: 24px;
	text-align: center;
	align-content: center;
}

.steps img {
	width: 400px;
	height: 300px;
	margin: auto;
	padding-top: 10px;
	justify-content: center;
	align-content: center;
}


.footer {
	margin: 100px;
	height: 100px;
}

.footer > div {
	padding: 40px;
}

.footer img {
	width: 50px;
	height: 50px;
}





